h1, h2, h3, h4, h5, p{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: 3px solid black;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    color: white;
    padding:.25%;
}

a{
    color: white;
}


.card{
    border: 3px solid black;
    background-color: rgb(54, 130, 157);
    color: white;
    text-align: center;
}